{% extends 'layout.html' %} {% block content %}
<main id="main">
  <p>
    Film, also called movie, motion picture or moving picture, is a visual
    art-form used to simulate experiences that communicate ideas, stories,
    perceptions, feelings, beauty, or atmosphere through the use of moving images.
    These images are generally accompanied by sound, and more rarely, other sensory stimulations.[1]
    The word "cinema", short for cinematography, is often used to refer to
    filmmaking and the film industry, and to the art form that is the result of it.

  </p>
  <br />
  <p>
    The moving images of a film are created by photographing actual scenes
    with a motion-picture camera, by photographing drawings or miniature models
    using traditional animation techniques, by means of CGI and computer animation,
    or by a combination of some or all of these techniques, and other visual effects.

  </p>
  <br />

  <p>
    Traditionally, films were recorded onto celluloid film stock through a photochemical
    process and then shown through a movie projector onto a large screen. Contemporary
    films are often fully digital through the entire process of production, distribution,
    and exhibition, while films recorded in a photochemical form traditionally included
    an analogous optical soundtrack (a graphic recording of the spoken words, music and
    other sounds that accompany the images which runs along a portion of the film exclusively
    reserved for it, and is not projected).

  </p>

  <br />

  <p>
    Films are cultural artifacts created by specific cultures. They reflect those cultures,
    and, in turn, affect them. Film is considered to be an important art form, a source of
    popular entertainment, and a powerful medium for educating—or indoctrinating—citizens.
    The visual basis of film gives it a universal power of communication. Some films have
    become popular worldwide attractions through the use of dubbing or subtitles to translate
    the dialog into other languages.

  </p>
  <p style="text-align: right; font-style: italic;">
    Wikipedia
  </p>
</main>
{% endblock %}
